@media screen and (max-width: 915px) and (max-height:1368px) {

    /*Privremeno*/
    .mobileNone1, #mobileNone2 {
        display: none;
    }

    /*end of privremeno*/

    body {
        margin: 0;
        background-color: #1C1C1C;
        font-family: 'Comfortaa', cursive;
        color: #FFFFFF;
        font-size: 1.3em;
    }

    header {
        /* aastr-moon-shat 1 */
        width: 100%;
        height: 750px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        background: url(/photos/aastr-moon-shat.jpg);
        background-size: cover;
        background-position: 50% 16%;
        background-attachment: fixed;
        box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.77);

    }

    header h1 {
        /* Jure Ereš */
        height: 147px;

        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 89px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    }

    .menuIcon, #menuButton {
        display: none;
    }

    h2 {
        height: 100px;
        width: 350px;
    }

    .naslovi {
        display: none;
    }

    .nasloviMOB {

        /*podnaslovi*/
        text-transform: uppercase;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .container {
        height: fit-content;
    }

    section {
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        margin-bottom: 20px;
        
    }

    article {
        /*article sadrži tekstualni sadržaj*/
        /*background-color: #292929;*/
        background-color: transparent;
        border: none;
        width: auto;
        height: fit-content;
        margin: 0;

    }

    #o-meni {
        height: auto;
    }

    #projekti, #projects, #project {
        height: fit-content;
    }

    .mob-o-meni {
        font-size: 1.3em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    article {
        height: fit-content;
    }
    

    .clanak {
        margin: 100px 0 30px 0;
    }

    .clanak p {
        padding: 0 20px 0 20px;
    }

    .clanak h3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    #kontakt {
        height: fit-content;
    }

    .pozadinskaSlika {
        /*dekorativni div, pozadinska slika, fixed effect --> izgleda kao da se scroll-a u suprotnome smjeru*/
        background-image: url("/photos/astronautonthemoon.jpg");
        background-size: cover;

        height: 300px;
        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.801);
        background-attachment: fixed;
    }

    footer {
        padding-bottom: 60px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;


    }


}
