
/*NAV ** start */

nav {
    background-color: rgb(49, 49, 49);
    box-shadow: 0px -8px 15px -7px #000000;
    border-radius: 1px 1px 0 0;
    width: 45%;
    padding: 15px 0 10px 0;
    position: fixed;
    align-self: center;
    bottom: 0px;
    height: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px 20px 0 0;
    transition: height 1s;

}


nav a img {
    margin-top: 15px;
    height: 50px;
    padding: 10px;

}

/* Change the link color to #111 (black) on hover */
nav img:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(0, 225, 255);
    box-shadow: 0 0 10px 5px rgba(29, 29, 29, 0.685);
    border-radius: 40%;
}

nav:hover {
    height: 80px;

}

/*NAV ** end*/

                                /*mobile nav*/

@media screen and (max-width: 280px){
    nav {
       height: 135px;       
    }

    .navi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 915px) and (max-height:1368px) {
    nav {
        align-items: flex-end;
        height: 80px;
        width: 100%;
        padding: 0;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.77);
        border-radius: 0;
        transition: none;
    }

    nav:hover {
        height: 80px;
    }

    nav a img {
        margin-top: 0;
        height: 50px;
        padding: 10px;
        
    
    }
    
    /* Change the link color to #111 (black) on hover */
    nav img:hover {
        background-color: rgb(53, 53, 53);
        filter: hue-rotate(120deg);
        box-shadow: 0 0 10px 5px rgba(29, 29, 29, 0.685);
        border-radius: 40%;
    }
    




}