#projekti, #projects {
    height: 800px;
}

#project {
    height: 650px;
}

.imgSlidersDiv {
    display: flex;
    justify-content: center;
}

.dimensionsImg {
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: center;
}


#project h3 {
    display: flex;
    justify-content: center;
}

#project ul {
    list-style-type: none;
}

.projectImg {
    border-radius: 1px;
    box-shadow: 0 0 10px 5px rgba(29, 29, 29, 0.685);
    margin-top: 20px;
}

.subProject {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 900px;
    height: 500px;
    margin: 15px;
}

.blockProject {
    display: block;
    height: fit-content;
}

.projectLi {
    display: initial;
    height: initial;

}

button {
    background: transparent;
    border: none;
    box-shadow: 0 0 5px black;
    margin-top: 20px;
}

button:active {
    background-color: rgba(128, 128, 128, 0.267);
    transform: scale(1.05);
}