                    /*Projects section on main html*/


                    /*Projects html file*/


#project h3 {
    display: flex;
    justify-content: center;
}

#project ul {
    list-style-type: none;
}



.blockProject {
    display: block;
    height: fit-content;
}

.projectLi {
    display: initial;
    height: initial;

}
