@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/*font-family: 'Comfortaa', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
/*
font-family: 'UnifrakturMaguntia', cursive;
*/
@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);
/*
font-family: "ProximaNW01-Reg";
*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');
/*
font-family: 'Exo', sans-serif;
font-family: 'UnifrakturMaguntia', cursive;
*/

body {
    font-family: 'Comfortaa', cursive;
    background-color: #161616;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: -5;
    padding: 10% 0 15% 0;
    margin: 0;

    background-image: url("/photos/aastr-moon-shat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 -5px 10px -4px rgba(0, 0, 0, 0.856);

    color: rgb(255, 255, 255);
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 1px 1px 1em rgb(0, 0, 0), -1px -1px 1em black;/*blur all ower*/
    width: 100%;
    
}



                                                    /*NAV ** start */

nav {
    background-color: rgb(49, 49, 49);
    box-shadow: 0px -8px 15px -7px #000000;
    border-radius: 1px 1px 0 0 ;
    width: 75%;
    padding: 10px 0 10px 0;
    position: fixed;
    bottom:0px;
    right: 12%;
    left: 12%;
    height: 10px;
    display: flex;
    justify-content: center;
    
    transition: height 1s;

}

nav .navi {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    
    
}
  
nav li {
    float: left;
    padding: 0 50px;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(0, 225, 255);
    box-shadow: 0 0 5px rgba(29, 29, 29, 0.685);
    border-radius: 1px;
  }

nav:hover {
    height: 50px;
    
}

nav li a .m {
    display: none;
}

                                                    /*NAV ** end*/

            /*standardni sadržaj - atributi koje će imati svaki testovni sadržaj ** start */
div { /*prostor za sadržaj - sadrži article element*/
    background-color: transparent;
    width: 100%;
    height: 700px;
    
   
    display: flex;
    justify-content: center;
    align-items: center;


}

.naslovi {
        
    /*podnaslovi*/
height: 187px;
width: 20px;
text-transform: capitalize;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 2em;
line-height: 67px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nasloviMOB {
    display: none;
}

.desknav {
    display: none;
}

article { /*sadrži section element i naslove*/
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    width: 950px;
    height: 700px;
}

section , address { /*Section sadrži tekstualni sadržaj*/
    /*background-color: #292929;*/
    background-color: transparent;
    border: 3px dashed rgb(20, 20, 20);
    border-radius: 1px;
    width: 300px;
    height: 450px;
    margin: 30px;
    
}

                                            /*standardni sadržaj ** end */

.razdjelnik { /*dekorativni div*/
    height: 55px;
    background-color: #0c0c0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.842);
}

.pozadinskaSlika { /*dekorativni div, pozadinska slika, fixed effect --> izgleda kao da se scroll-a u suprotnome smjeru*/
    background-image: url("/photos/astronautonthemoon.jpg");
    background-size: cover;
    
    height: 250px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.801);
    background-attachment: fixed;
}

#tehnologije {
    background-color: #0c0c0c;
    
}

#tehnologije article {
    background-color: transparent;
}

#tehnologije article section {
    background-color: transparent;
    border: 0;
    
}

footer {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    
    padding: 20px 0;

    color: #313131;
    background-color: #0c0c0c;
    box-shadow: inset 10px 10px 7px -5px rgba(0, 0, 0, 0.664);
    width: 100%;
    
}

footer section , address {
    border: none;
    width: auto;
    height: auto;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.801);
    padding: 5px;
}

footer li {
    list-style-type: none;
    
    margin: 5px 15px;
    
    
}


footer span {
    margin: 8px 0px;
}

@media screen and (max-width: 500px){

    body {
        margin: 0;
        background-color: #1C1C1C;
        font-family: 'Comfortaa', cursive;
        color: #FFFFFF;
    }
    
        header {
            /* aastr-moon-shat 1 */
            width: 100%;
        height: 750px;
        padding: 0;
        display: flex;
        justify-content: center;
        
        background: url(/photos/aastr-moon-shat.jpg);
        background-size: cover;
        background-position: 50% 16%;
        background-attachment: fixed;
        box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.77);
        
        }
        
        header h1 {
            /* Jure Ereš */
            height: 147px;
        
            margin: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 89px;
            display: flex;
            align-items: center;
            text-align: center;
            
            color: #FFFFFF;
            
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    
        }
        
        nav {
            /* Group 8 */
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 0;
            right: 0;
            padding: 0;
            background: #313131;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.77);
            border-radius: 0;
            transition: none;
        
        }
        nav:hover {
            height: 60px;
            
            
        }

        .mobnav {
            display: none;
        }

        .desknav {
            display: initial;
        }
        
        
        nav a {
            /* Ellipse 8 */
            margin: 3px 2%;
            width: 55px;
            height: 55px;
            display: flex;
            justify-content: center;
            
            
            border-radius: 100%;
            
            background: #1C1C1C;
        
        }
        


        nav li a:hover {
            box-shadow: 0 0 5px rgba(29, 29, 29, 0.685);
            border-radius: 100%;
        }
        
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            
            
        }
          
        nav li {
            float: left;
            padding: 0 10px;
          }
          
        nav li a {
            display: flex;
            color: white;
            flex-direction: column;
            justify-content: center;
            padding: 0px;
            text-decoration: none;
          }
        
        nav li a .m {
            display: inline;
            
        }

        nav li a .d {
            display: none;
            
        }
        
        .naslovi {
            display: none;
        }

        .nasloviMOB {
        
            /*podnaslovi*/
        
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        


        article {
            width: 100%;
            display: block;
            background-color: transparent;
        }

        section {
            height: auto;
        }

        .pozadinskaSlika { /*dekorativni div, pozadinska slika, fixed effect --> izgleda kao da se scroll-a u suprotnome smjeru*/
            background-image: url("/photos/astronautonthemoon.jpg");
            background-size: cover;
            
            height: 50px;
            box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.801);
            background-attachment: fixed;
        }

        footer {
            padding-bottom: 60px;
            flex-direction: column;
            
            
        }


    }