@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/*font-family: 'Comfortaa', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
/*
font-family: 'UnifrakturMaguntia', cursive;
*/
@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);
/*
font-family: "ProximaNW01-Reg";
*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');
/*
font-family: 'Exo', sans-serif;
font-family: 'UnifrakturMaguntia', cursive;
*/

body {
    font-family: 'Comfortaa', cursive;
    background-color: #161616;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: -5;
    padding: 10% 0 15% 0;
    margin: 0;

    background-image: url("/photos/aastr-moon-shat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 -5px 10px -4px rgba(0, 0, 0, 0.856);

    color: rgb(255, 255, 255);
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 1px 1px 1em rgb(0, 0, 0), -1px -1px 1em black;
    /*blur all ower*/
    width: 100%;

}



/*NAV ** start */

nav {
    background-color: rgb(49, 49, 49);
    box-shadow: 0px -8px 15px -7px #000000;
    border-radius: 1px 1px 0 0;
    width: 65%;
    padding: 10px 0 10px 0;
    position: fixed;
    bottom: 0px;
    right: 17%;
    left: 17%;
    height: 10px;
    display: flex;
    justify-content: center;

    transition: height 1s;

}

nav .navi {
    list-style-type: none;
    margin: 0;
    overflow: hidden;


}

nav li {
    float: left;
    padding: 0 50px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(0, 225, 255);
    box-shadow: 0 0 5px rgba(29, 29, 29, 0.685);
    border-radius: 1px;
}

nav:hover {
    height: 50px;

}

/*NAV ** end*/

/*standardni sadržaj - atributi koje će imati svaki testovni sadržaj ** start */
div {
    /*prostor za sadržaj - sadrži article element*/
    background-color: transparent;
    width: 100%;
    height: 700px;


    display: flex;
    justify-content: center;
    align-items: center;


}

.naslovi {

    /*podnaslovi*/
    height: 187px;
    width: 20px;
    text-transform: capitalize;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nasloviMOB , .desknav , nav li a .m {
    display: none;
}

article {
    /*sadrži section element i naslove*/
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    width: 1250px;
    height: 700px;
}

section,
address {
    /*Section sadrži tekstualni sadržaj*/
    /*background-color: #292929;*/
    background-color: transparent;
    border: 3px dashed rgb(20, 20, 20);
    border-radius: 1px;
    width: 400px;
    height: 450px;
    margin: 30px;

}

/*standardni sadržaj ** end */

.razdjelnik {
    /*dekorativni div*/
    height: 55px;
    background-color: #0c0c0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.842);
}

.pozadinskaSlika {
    /*dekorativni div, pozadinska slika, fixed effect --> izgleda kao da se scroll-a u suprotnome smjeru*/
    background-image: url("/photos/astronautonthemoon.jpg");
    background-size: cover;

    height: 250px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.801);
    background-attachment: fixed;
}

#o-meni {
    background-color: #0c0c0c;

}

#o-meni article {
    background-color: transparent;
}

#o-meni article section {
    background-color: transparent;
    border: 0;

}

.img {
    background-image: url("/slikeTehnologije/Omeni.png");
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: block;
}

.mob-o-meni {
    display: none;
}

.mob-o-meni h3 {
    margin-bottom: 5px;
    
}

.mob-o-meni ul {
    margin-top: 0;
    
}

/*link za h3 unutar mob-o-meni*/
.mob-o-meni h3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.mob-o-meni h3 a:before {
    color: #62aae4;
}

.mob-o-meni h3 a:hover {
    color: #90c0e7;
    
}

.mob-o-meni h3 a:active {
    color: #FFFFFF;
    font-size: 1.5em;
}

.mob-o-meni h3 a:after {
    color: #FFFFFF;
}

/*link za li unutar mob-o-meni*/
.mob-o-meni li a {
    color: white;
}

.mob-o-meni li a::before {
    
}

.mob-o-meni li a:hover {
    color: #a0cdf1;
    text-decoration: none;
}

.mob-o-meni li a:active {
    text-decoration: none;
    font-size: 1.2em;
}

.mob-o-meni li a::after {
    
}

.clanak {
    display: block;
    height: 225px;
    
}

.kontakt-form , .kontakt-link {
    display: flex;
    justify-content: center;
}

.kontakt-link {
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;   
}

.kontakt-link h3 {
    margin-bottom: 5px;
}

.kontakt-link ul {
    margin-top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    padding: 20px 0;

    color: #313131;
    background-color: #0c0c0c;
    box-shadow: inset 10px 10px 7px -5px rgba(0, 0, 0, 0.664);
    width: 100%;

}

footer section,
address {
    border: none;
    width: auto;
    height: auto;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.801);
    padding: 5px;
}

footer li {
    list-style-type: none;
    margin: 5px 15px;
}

footer span {
    margin: 40px 0px;
}

@media screen and (max-width: 1250px){
    
    nav li {
        
        padding: 0 20px;
    }

    .img {
        display: none;
    }
    .mob-o-meni {
        display: initial;
        display: flex;
        width: 30%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    #o-meni {
        height: auto;
    }

    #o-meni article {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 915px) and (max-height:1368px) {

    body {
        margin: 0;
        background-color: #1C1C1C;
        font-family: 'Comfortaa', cursive;
        color: #FFFFFF;
        font-size: 1.3em;
    }

    header {
        /* aastr-moon-shat 1 */
        width: 100%;
        height: 750px;
        padding: 0;
        display: flex;
        justify-content: center;

        background: url(/photos/aastr-moon-shat.jpg);
        background-size: cover;
        background-position: 50% 16%;
        background-attachment: fixed;
        box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.77);

    }

    header h1 {
        /* Jure Ereš */
        height: 147px;

        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 89px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    }

    nav {
        /* Group 8 */
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        padding: 0;
        background: #313131;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.77);
        border-radius: 0;
        transition: none;
    }

    nav:hover {
        height: auto;
    }

    .desknav {
        display: initial;
    }

    nav a {
        /* Ellipse 8 */
        margin: 3px 2%;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        background: #1C1C1C;
    }

    nav li a:hover {
        box-shadow: 0 0 5px rgba(29, 29, 29, 0.685);
        border-radius: 100%;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        float: left;
        padding: 0 10px;
    }

    nav li a {
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        text-decoration: none;
    }

    nav li a .m {
        display: inline;

    }

    nav li a .d, .naslovi, .mobnav {
        display: none;

    }

    .nasloviMOB {

        /*podnaslovi*/

        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }



    article {
        width: 100%;
        display: block;
        background-color: transparent;
        height: fit-content;
    }

    section {
        /*Section sadrži tekstualni sadržaj*/
        /*background-color: #292929;*/
        background-color: transparent;
        border: 3px dashed rgb(20, 20, 20);
        border-radius: 0px;
        width: auto;
        height: auto;
        margin: 0;

    }

    #o-meni {
        height: auto;
    }

    #o-meni article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mob-o-meni {
        font-size: 1.3em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    

    .clanak {
        margin: 100px 0 30px 0;
    }

    .clanak p {
        padding: 0 20px 0 20px;
    }

    .clanak h3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    #kontakt {
        height: fit-content;
    }

    .pozadinskaSlika {
        /*dekorativni div, pozadinska slika, fixed effect --> izgleda kao da se scroll-a u suprotnome smjeru*/
        background-image: url("/photos/astronautonthemoon.jpg");
        background-size: cover;

        height: 50px;
        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.801);
        background-attachment: fixed;
    }

    footer {
        padding-bottom: 60px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;


    }


}

@media screen and (max-width: 280px){
    nav {
       height: 135px;       
    }

    .navi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}